.platypus_logo {
    font-family: 'Dancing Script', cursive;
}

.platypus_footer_button {
    font-size: .9rem;
}

.platypus_footer {

    text-align: center;
    margin-top: 2rem;
}

.platypus_header {
    text-align: center;
    margin: 2rem 0;
}





